<!-- events/templates/events/events_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h2>Upcoming Events</h2>
    <div class="row mt-5">
      {% for event in events %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ event.image.url }}" alt="{{ event.title }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ event.title }}</h5>
              <p class="card-text">{{ event.description|truncatewords:20 }}</p>
              <p class="card-text"><small class="text-muted">{{ event.date }} - {{ event.time }}</small></p>
              <p class="card-text"><small class="text-muted">{{ event.location }}</small></p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
