<!-- gallery/templates/gallery/gallery_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container">
    <h2>Gallery</h2>
    <div class="row mt-5">
      {% for image in images %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <img src="{{ image.image.url }}" alt="{{ image.title }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ image.title }}</h5>
              <p class="card-text">{{ image.description|truncatewords:20 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
